<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        window.onload = function(e){ 
            setTimeout(function(){swal("Congratulations!", "Email Sucessfuly verified", "success")},50)
        setTimeout(function(){window.location.href = "http://esummit.ecell.org.in";},1000)
}

    </script>
</body>
</html>